html,
body {
}
/* Small Screens (coincides with MaterializeCSS' queries) */
@media (max-width: 992px) {
	.content {
		margin-left: 0px;
	}
}

/* Medium Screens (coincides with MaterializeCSS' queries) */
@media (min-width: 600px)
and (max-width:992px) {

	.content {
		margin-left: 0px;
	}

}

/* Large Screens (coincides with MaterializeCSS' queries) */
@media (min-width: 992px) {
	.content {
		margin-left: 0px;
	}
}

/* Medium screens and up (coincides with MaterializeCSS' queries) */
@media (min-width: 600px) {

    .sidebar {
        top:0;
        position: fixed;
        float:left;
        height:100%;
        width: 250px;
        margin-top: 36px;
        border-right: solid #1e88e5 2px;
    }
   

    .content-login {
        margin-left:0px;
        margin-top:60px;
    }

    .inner-content {
    }
}

body {
	background-color: #f5f5f5;
}

.header {

}

.sidebar .collapsible {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border:none;

}

.sidebar ul {
    margin:0;
}
.sidebar ul li {
    color:black;
}

.sidebar ul li a{
    color:black;
    margin-left:20px;
    margin-right:20px;
}

.sidebar span {

}

.clear {
    clear:both;
}

.content {
	margin-top:10px;
	margin-left:250px;
}

.sidebar .collapsible .item {
    margin-left:30px;
    margin-right:30px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sidebar .collapsible .subtitle {
    margin-left:20px;
    margin-right:20px;
    font-size: smaller;
    float:right;
    color:#888;
}

#logo {
    border-bottom: thick solid #40c4ff;
}

#logo-icon {
    text-align: center;
    height: 30px;
    min-width: 30px;
    border-radius: 10px;
    background-color: #40c4ff;
    float:right;
}

.logo-adjective {
    position:relative;
    font-weight: 500;
}

.logo-title {
    font-weight:lighter;
}

.bg-danger {
	background-color:#e9d0d0;
	}
	
.alert {
	font-weight:100;
	position:relative;
	}
.mainlogo {
	border: 0;
	position:relative;
	height:300px;
	width:300px;
}

.login-text {
	text-align: center;
	font: 300 18px 'Open Sans Condensed', sans-serif;
	margin-bottom: 15px;
	font-style: italic;
}

.nav-color {
	background-color: #ed2121;
}

img.responsive-img {
  width:150px;
  height:150px; }
  
.navstuff {
	background-color: #0d47a1;
}